@{
    ViewData["Title"] = "Interactive Particle System";
}

<h1>@ViewData["Title"]</h1>
<div id="controls">
    <canvas id="particleCanvas" width="800" height="600"></canvas>
    <div id="modeText">Mode: Attraction</div>
</div>

<script src="~/js/particleSystem.js"></script>
